body {
  font-family: "Roboto", serif;
}

.custom-btn {
  font-weight: 900;
  padding: 10px 20px;
  border: none;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(95.2deg, #b90160 2.23%, #2e3192 99.51%);
  border-radius: 7px;
}

.header-top {
  padding: 30px 0;
  background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
  color: #fff;
  font-size: 15px;
  line-height: 18px;
}

.header-top img {
  margin-right: 12px;
  height: 25px;
  width: 25px;
}

.header-top a {
  margin-right: 12px;
}

.header-top a:hover {
  color: #fff;
  text-decoration: underline;
}

.header-top .social a {
  margin-right: 0px;
  font-size: 14px;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero {
  padding: 40px 0 50px;
}

.hero h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  padding: 0 15%;
}

.hero h1 span {
  display: block;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
}

.modal-content {
  padding: 27px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 35px rgba(212, 20, 90, 0.25);
          box-shadow: 0px 0px 35px rgba(212, 20, 90, 0.25);
}

.modal-content .modal-body {
  padding: 0;
}

.modal-content .row {
  margin: 0;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  border: 1px solid #a2a2a2;
  border-radius: 25px;
  padding: 8px 10px 9px;
  margin-bottom: 20px;
}

.modal-content input::-webkit-input-placeholder,
.modal-content textarea::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #989898;
}

.modal-content input:-ms-input-placeholder,
.modal-content textarea:-ms-input-placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #989898;
}

.modal-content input::-ms-input-placeholder,
.modal-content textarea::-ms-input-placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #989898;
}

.modal-content input::placeholder,
.modal-content textarea::placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #989898;
}

.modal-content h5 {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;
}
